@charset "UTF-8";

.bordered {
    border-width: 0px;
    border-radius: 10px;
    border-color: #484848;
    margin: 5px;
}

.icon-lg {
    width: 28px;
    height: 28px;
}

.icon-sm {
    width: 16px;
    height: 16px;
}

.indicator-icon {
    margin-left: 2px;
    margin-right: 2px;
    padding-right: 2px;
    padding-left: 2px;
}

.icon-init {
    color: yellow;
}

.icon-up {
    color: lightgreen;
}

.icon-down {
    color: red;
}

.icon-bad {
    color: orange;
}
